<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BuscoAyuda</title>
</head>
<body>
    <ul class="nav navbar-nav navbar-right" style="padding-right: 20px">
        <li><a href="{% url 'principal:registro' %}" id="id_register"><span class="glyphicon glyphicon-user"></span> Registrarse</a></li>
        <li><a href="#" id="id_login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
    <div class="jumbotron" style="padding-left: 20px; height: 50%">
        <h1>Busco Ayuda</h1>
        <p>Encuentra aquí la ayuda que necesitas.</p>
        <div id="trabajadores">
            {% for trabajador in trabajadores %}
            <div class="col-sm-4 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading" style="text-align: center; background-color: black;">
                        <span style="color: white; font-size: large;">{{ trabajador.tiposDeServicio.nombre }}</span>
                    </div>
                    <div class="panel-body" style="text-align: center">
                        <a class="trabajador" href="#" data-form="{{ trabajador.id }}" style="text-decoration: none;">
                            <!--suppress HtmlUnknownTarget -->
                            <img class="thumbnail img-responsive center-block"
                            src="/media/{{ trabajador.imagen }}" width="100" height="100">
                            <span>{{ trabajador.nombre }} {{ trabajador.apellidos }} - {{ trabajador.tiposDeServicio.nombre }}</span>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>